<div class="row" data-ng-controller="ThoughtsCtrl">
	<div class="col-md-3">
		<div class="page-header">
			<button id="addThoughtBtn" type="button" class="btn btn-default" data-ng-click="addThought()"><span class="glyphicon glyphicon-plus"></span></button> 
			<button data-ng-show="tag" data-ng-click="removeFilter()" class="btn btn-success">
				<span class="glyphicon-class">{{tag}}</span>
				<span class="glyphicon glyphicon-remove-circle"></span>
			</button>
		</div>
		<fb-thoughts data-ng-model="thoughts"></fb-thoughts>
	</div>
	<fb-thought-detail data-ng-model="currentThought" data-ng-show="thoughtIsSelected()" class="col-md-9"></fb-thought-detail>
	<div data-ng-hide="thoughtIsSelected()" class="col-md-9">
		<div class="col-sm-12 col-md-12">
			<div class="row">
				<div class="page-header col-sm-12 col-md-12">
					<button type="button" class="btn btn-default pull-right disabled" disabled><span class="glyphicon glyphicon-minus"></span></button>
				</div>
			</div>
		<div>
		<div class="col-sm-12 col-md-12">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<span data-ng-show="thoughts.length">
						Select a thought from the list on the left
					</span>
					<span data-ng-hide="thoughts.length">
						Create a thought using the '+'' button on the left
					</span>
				</div>
			</div>
		<div>
	</div>
</div>